<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Capteurs -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- Notifications & service de fond -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Empêcher la mise en veille pendant la surveillance -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Caractéristique Wear OS obligatoire -->
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".SamsungActiveApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activité principale affichée sur la montre -->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service de surveillance en arrière-plan -->
        <service
            android:name=".InactivityService"
            android:exported="false"
            android:foregroundServiceType="health" />

    </application>
</manifest>
